uvicorn[standard]==0.24.0.post1
fastapi==0.109.1
python-multipart==0.0.7
email-validator==2.1.0.post1
passlib[bcrypt]==1.7.4
tenacity==8.2.3
pydantic>=2.0
emails==0.6
gunicorn==22.0.0
jinja2==3.1.4
alembic==1.12.1
httpx>=0.25.2,<0.28
psycopg[binary]==3.1.13
sqlmodel==0.0.21
sqlalchemy==2.0.31
bcrypt==4.0.1
pydantic-settings==2.2.1
sentry-sdk[fastapi]==1.40.6
pyjwt==2.8.0
twilio==9.2.3
retell-sdk==3.18.0
pandas==2.2.2
thefuzz==0.22.1
vapi-python==0.1.9
supabase==2.6.0
weaviate-client==4.7.1
firecrawl==1.2.3
tiktoken==0.7.0
transformers==4.44.2
torch==2.3.1
python-docx==1.1.2
openpyxl==3.1.5
spacy==3.7.2
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
