@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#embedded-chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: auto;
  height: auto;
  pointer-events: none;
  z-index: 2147483647;
}

#embedded-chatbot-container > div {
  pointer-events: all;
}
